@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #07070f;
  --foreground: #ededed;
  --primary-color: #5356ff;
  --secondary-color: #fc7c4a;
  --accent-color: rgb(100 116 139/var(--tw-text-opacity,1));
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blob {
  background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  opacity: 0.3;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpDelay {
  0% {
    opacity: 0;
    transform: translate(20px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

